In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt

In [2]:
df = pd.read_csv('/content/sample_data/train.csv')

In [3]:
# delete features don't need
df = df.drop(columns=['id', 'Name', 'City', 'Profession', 'Degree'])

In [4]:
df1 = df.copy()

In [5]:
# fill null of 'Academic Pressure', 'CGPA', 'Study Satisfaction' by KNN Imputer
from sklearn.impute import KNNImputer
imputer = KNNImputer(n_neighbors=5)
df1[['Academic Pressure', 'CGPA', 'Study Satisfaction']] = imputer.fit_transform(df1[['Academic Pressure', 'CGPA', 'Study Satisfaction']])

In [6]:
df1.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 140700 entries, 0 to 140699
Data columns (total 15 columns):
 #   Column                                 Non-Null Count   Dtype
---  ------                                 --------------   -----
 0   Gender                                 140700 non-null  object
 1   Age                                    140700 non-null  float64
 2   Working Professional or Student        140700 non-null  object
 3   Academic Pressure                      140700 non-null  float64
 4   Work Pressure                          112782 non-null  float64
 5   CGPA                                   140700 non-null  float64
 6   Study Satisfaction                     140700 non-null  float64
 7   Job Satisfaction                       112790 non-null  float64
 8   Sleep Duration                         140700 non-null  object
 9   Dietary Habits                         140696 non-null  object
 10  Have you ever had suicidal thoughts ?  140700 non-null  object
 11  Work/Study Hours                       140700 non-null  float64
 12  Financial Stress                       140696 non-null  float64
 13  Family History of Mental Illness       140700 non-null  object
 14  Depression                             140700 non-null  int64
dtypes: float64(8), int64(1), object(6)
memory usage: 16.1+ MB

In [7]:
df1['Academic Pressure'].value_counts()

Academic Pressure
3.142273    112799
3.000000      7464
5.000000      6296
4.000000      5158
1.000000      4801
2.000000      4179
2.600000         1
3.200000         1
3.600000         1
Name: count, dtype: int64

In [8]:
# fill null of Work Pressure, Job Satisfaction, Dietary Habits, Financial Stress by mode
for col in ['Work Pressure', 'Job Satisfaction', 'Dietary Habits', 'Financial Stress']:
  df1[col] = df1[col].fillna(df1[col].mode()[0])

In [9]:
df1.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 140700 entries, 0 to 140699
Data columns (total 15 columns):
 #   Column                                 Non-Null Count   Dtype
---  ------                                 --------------   -----
 0   Gender                                 140700 non-null  object
 1   Age                                    140700 non-null  float64
 2   Working Professional or Student        140700 non-null  object
 3   Academic Pressure                      140700 non-null  float64
 4   Work Pressure                          140700 non-null  float64
 5   CGPA                                   140700 non-null  float64
 6   Study Satisfaction                     140700 non-null  float64
 7   Job Satisfaction                       140700 non-null  float64
 8   Sleep Duration                         140700 non-null  object
 9   Dietary Habits                         140700 non-null  object
 10  Have you ever had suicidal thoughts ?  140700 non-null  object
 11  Work/Study Hours                       140700 non-null  float64
 12  Financial Stress                       140700 non-null  float64
 13  Family History of Mental Illness       140700 non-null  object
 14  Depression                             140700 non-null  int64
dtypes: float64(8), int64(1), object(6)
memory usage: 16.1+ MB

In [11]:
df1.to_csv("train_non_null.csv", index = False)

In [50]:
df1 = pd.read_csv('/content/train_non_null.csv')

In [51]:
# replace less than 10 value to mode
sleep_duration_values = df1['Sleep Duration'].value_counts()
df1['Sleep Duration'] = df1['Sleep Duration'].apply(lambda x: x.replace(x, 'Less than 5 hours') if sleep_duration_values[x] < 10 else x)

In [52]:
df1['Sleep Duration'].value_counts()

Sleep Duration
Less than 5 hours    38851
7-8 hours            36969
More than 8 hours    32726
5-6 hours            32142
3-4 hours               12
Name: count, dtype: int64

In [53]:
# replace less than 10 value to mode
dietary_habits_values = df1['Dietary Habits'].value_counts()
df1['Dietary Habits'] = df1['Dietary Habits'].apply(lambda x: x.replace(x, 'Moderate') if dietary_habits_values[x] < 10 else x)

In [54]:
df1['Dietary Habits'].value_counts()

Dietary Habits
Moderate     49732
Unhealthy    46227
Healthy      44741
Name: count, dtype: int64

In [55]:
df1.to_csv("train_non_null_less_values.csv", index = False)