In [55]:
import pandas as pd

In [74]:
train = pd.read_csv('/content/sample_data/train.csv')

In [75]:
for i in ['Name', 'City']:
    train_value_counts = train[i].value_counts()
    train[i] = train[i].apply(lambda x: x.replace(x, 'Others') if train_value_counts[x] < 10 else x)

In [76]:
for i in ['Academic Pressure', 'Work Pressure', 'Job Satisfaction', 'Study Satisfaction']:
    train[i] = train[i].fillna("")

In [77]:
train['Pressure'] = train['Academic Pressure'].map(str) + train['Work Pressure'].map(str)
train['Satisfaction'] = train['Job Satisfaction'].map(str) + train['Study Satisfaction'].map(str)

In [78]:
for i in ['Pressure', 'Satisfaction']:
    mode = train[i].mode()[0]
    train[i] = train[i].apply(lambda x: x.replace(x, mode) if x == '' else x)

In [79]:
train['Satisfaction'].value_counts()

Satisfaction
2.0       30637
1.0       27775
3.0       27772
4.0       27280
5.0       27234
3.03.0        1
2.05.0        1
Name: count, dtype: int64

In [81]:
mode = train['Satisfaction'].mode()[0]
train['Satisfaction'] = train['Satisfaction'].apply(lambda x: x.replace(x, '2.0') if len(x) > 4 else x)

In [82]:
train = train.astype({'Pressure':'float64', 'Satisfaction':'float64'})

In [83]:
for i in ['Academic Pressure', 'Work Pressure', 'Job Satisfaction', 'Study Satisfaction']:
    del train[i]

In [84]:
del train['id']

In [86]:
train['Sleep Duration'].fillna(train['Sleep Duration'].mode()[0], inplace=True)
values = train['Sleep Duration'].value_counts()
train['Sleep Duration'] = train['Sleep Duration'].apply(lambda x: x.replace(x, str(values[0])) if values[x] < 10 else x)

<ipython-input-86-513daa442773>:3: FutureWarning: Series.__getitem__ treating keys as positions is deprecated. In a future version, integer keys will always be treated as labels (consistent with DataFrame behavior). To access a value by position, use `ser.iloc[pos]`
  train['Sleep Duration'] = train['Sleep Duration'].apply(lambda x: x.replace(x, str(values[0])) if values[x] < 10 else x)

In [87]:
train.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 140700 entries, 0 to 140699
Data columns (total 17 columns):
 #   Column                                 Non-Null Count   Dtype
---  ------                                 --------------   -----
 0   Name                                   140700 non-null  object
 1   Gender                                 140700 non-null  object
 2   Age                                    140700 non-null  float64
 3   City                                   140700 non-null  object
 4   Working Professional or Student        140700 non-null  object
 5   Profession                             104070 non-null  object
 6   CGPA                                   27898 non-null   float64
 7   Sleep Duration                         140700 non-null  object
 8   Dietary Habits                         140696 non-null  object
 9   Degree                                 140698 non-null  object
 10  Have you ever had suicidal thoughts ?  140700 non-null  object
 11  Work/Study Hours                       140700 non-null  float64
 12  Financial Stress                       140696 non-null  float64
 13  Family History of Mental Illness       140700 non-null  object
 14  Depression                             140700 non-null  int64
 15  Pressure                               140700 non-null  float64
 16  Satisfaction                           140700 non-null  float64
dtypes: float64(6), int64(1), object(10)
memory usage: 18.2+ MB

In [88]:
train['Dietary Habits'].fillna(train['Dietary Habits'].mode()[0], inplace=True)
values = train['Dietary Habits'].value_counts()
train['Dietary Habits'] = train['Dietary Habits'].apply(lambda x: x.replace(x, str(values[0])) if values[x] < 10 else x)

<ipython-input-88-52b3c6af15b2>:1: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  train['Dietary Habits'].fillna(train['Dietary Habits'].mode()[0], inplace=True)
<ipython-input-88-52b3c6af15b2>:3: FutureWarning: Series.__getitem__ treating keys as positions is deprecated. In a future version, integer keys will always be treated as labels (consistent with DataFrame behavior). To access a value by position, use `ser.iloc[pos]`
  train['Dietary Habits'] = train['Dietary Habits'].apply(lambda x: x.replace(x, str(values[0])) if values[x] < 10 else x)

In [89]:
train.loc[train['Working Professional or Student'] == 'Student', 'Profession'] = train.loc[train['Working Professional or Student'] == 'Student', 'Profession'].fillna('Student')

In [90]:
from sklearn.impute import KNNImputer
imputer = KNNImputer(n_neighbors=5)
train[['CGPA']] = imputer.fit_transform(train[['CGPA']])

In [91]:
for col in ['Profession', 'Degree', 'Financial Stress']:
    train[col] = train[col].fillna(train[col].mode()[0])

In [92]:
train_value_counts = train['Profession'].value_counts()
train['Profession'] = train['Profession'].apply(lambda x: x.replace(x, 'Others') if train_value_counts[x] < 10 else x)

In [93]:
train.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 140700 entries, 0 to 140699
Data columns (total 17 columns):
 #   Column                                 Non-Null Count   Dtype
---  ------                                 --------------   -----
 0   Name                                   140700 non-null  object
 1   Gender                                 140700 non-null  object
 2   Age                                    140700 non-null  float64
 3   City                                   140700 non-null  object
 4   Working Professional or Student        140700 non-null  object
 5   Profession                             140700 non-null  object
 6   CGPA                                   140700 non-null  float64
 7   Sleep Duration                         140700 non-null  object
 8   Dietary Habits                         140700 non-null  object
 9   Degree                                 140700 non-null  object
 10  Have you ever had suicidal thoughts ?  140700 non-null  object
 11  Work/Study Hours                       140700 non-null  float64
 12  Financial Stress                       140700 non-null  float64
 13  Family History of Mental Illness       140700 non-null  object
 14  Depression                             140700 non-null  int64
 15  Pressure                               140700 non-null  float64
 16  Satisfaction                           140700 non-null  float64
dtypes: float64(6), int64(1), object(10)
memory usage: 18.2+ MB

In [51]:
train = pd.get_dummies(train, dtype='int')

In [94]:
train.to_csv('train_processed.csv', index=False)