In [ ]:
import pandas as pd

In [ ]:
train = pd.read_csv('/content/sample_data/train.csv')
test = pd.read_csv('/content/sample_data/test.csv')

In [ ]:
# concatenate train and test
df = pd.concat([train, test], ignore_index=True)

In [ ]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 234500 entries, 0 to 234499
Data columns (total 20 columns):
 #   Column                                 Non-Null Count   Dtype
---  ------                                 --------------   -----
 0   id                                     234500 non-null  int64
 1   Name                                   234500 non-null  object
 2   Gender                                 234500 non-null  object
 3   Age                                    234500 non-null  float64
 4   City                                   234500 non-null  object
 5   Working Professional or Student        234500 non-null  object
 6   Profession                             173238 non-null  object
 7   Academic Pressure                      46664 non-null   float64
 8   Work Pressure                          187804 non-null  float64
 9   CGPA                                   46664 non-null   float64
 10  Study Satisfaction                     46664 non-null   float64
 11  Job Satisfaction                       187816 non-null  float64
 12  Sleep Duration                         234500 non-null  object
 13  Dietary Habits                         234491 non-null  object
 14  Degree                                 234496 non-null  object
 15  Have you ever had suicidal thoughts ?  234500 non-null  object
 16  Work/Study Hours                       234500 non-null  float64
 17  Financial Stress                       234496 non-null  float64
 18  Family History of Mental Illness       234500 non-null  object
 19  Depression                             140700 non-null  float64
dtypes: float64(9), int64(1), object(10)
memory usage: 35.8+ MB

In [ ]:
for i in ['Name', 'City']:
    df_value_counts = df[i].value_counts()
    df[i] = df[i].apply(lambda x: x.replace(x, 'Others') if df_value_counts[x] < 10 else x)

In [ ]:
for i in ['Academic Pressure', 'Work Pressure', 'Job Satisfaction', 'Study Satisfaction']:
    df[i] = df[i].fillna("")

In [ ]:
df['Pressure'] = df['Academic Pressure'].map(str) + df['Work Pressure'].map(str)
df['Satisfaction'] = df['Job Satisfaction'].map(str) + df['Study Satisfaction'].map(str)

In [ ]:
for i in ['Pressure', 'Satisfaction']:
    mode = df[i].mode()[0]
    df[i] = df[i].apply(lambda x: x.replace(x, mode) if x == '' else x)

In [ ]:
df['Satisfaction'].value_counts()

Satisfaction
2.0       51454
1.0       46372
3.0       46116
4.0       45426
5.0       45129
3.03.0        1
2.05.0        1
1.05.0        1
Name: count, dtype: int64

In [ ]:
mode = df['Satisfaction'].mode()[0]
df['Satisfaction'] = df['Satisfaction'].apply(lambda x: x.replace(x, '2.0') if len(x) > 4 else x)

In [ ]:
mode = df['Pressure'].mode()[0]
df['Pressure'] = df['Pressure'].apply(lambda x: x.replace(x, '2.0') if len(x) > 4 else x)

In [ ]:
df = df.astype({'Pressure':'float64', 'Satisfaction':'float64'})

In [ ]:
for i in ['Academic Pressure', 'Work Pressure', 'Job Satisfaction', 'Study Satisfaction']:
    del df[i]

In [ ]:
del df['id']

In [ ]:
df['Sleep Duration'].fillna(df['Sleep Duration'].mode()[0], inplace=True)
values = df['Sleep Duration'].value_counts()
df['Sleep Duration'] = df['Sleep Duration'].apply(lambda x: x.replace(x, str(values[0])) if values[x] < 10 else x)

<ipython-input-16-add7152efcdb>:1: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df['Sleep Duration'].fillna(df['Sleep Duration'].mode()[0], inplace=True)
<ipython-input-16-add7152efcdb>:3: FutureWarning: Series.__getitem__ treating keys as positions is deprecated. In a future version, integer keys will always be treated as labels (consistent with DataFrame behavior). To access a value by position, use `ser.iloc[pos]`
  df['Sleep Duration'] = df['Sleep Duration'].apply(lambda x: x.replace(x, str(values[0])) if values[x] < 10 else x)

In [ ]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 234500 entries, 0 to 234499
Data columns (total 17 columns):
 #   Column                                 Non-Null Count   Dtype
---  ------                                 --------------   -----
 0   Name                                   234500 non-null  object
 1   Gender                                 234500 non-null  object
 2   Age                                    234500 non-null  float64
 3   City                                   234500 non-null  object
 4   Working Professional or Student        234500 non-null  object
 5   Profession                             173238 non-null  object
 6   CGPA                                   46664 non-null   float64
 7   Sleep Duration                         234500 non-null  object
 8   Dietary Habits                         234491 non-null  object
 9   Degree                                 234496 non-null  object
 10  Have you ever had suicidal thoughts ?  234500 non-null  object
 11  Work/Study Hours                       234500 non-null  float64
 12  Financial Stress                       234496 non-null  float64
 13  Family History of Mental Illness       234500 non-null  object
 14  Depression                             140700 non-null  float64
 15  Pressure                               234500 non-null  float64
 16  Satisfaction                           234500 non-null  float64
dtypes: float64(7), object(10)
memory usage: 30.4+ MB

In [ ]:
df['Dietary Habits'].fillna(df['Dietary Habits'].mode()[0], inplace=True)
values = df['Dietary Habits'].value_counts()
df['Dietary Habits'] = df['Dietary Habits'].apply(lambda x: x.replace(x, str(values[0])) if values[x] < 10 else x)

<ipython-input-18-9cb71d885949>:1: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df['Dietary Habits'].fillna(df['Dietary Habits'].mode()[0], inplace=True)
<ipython-input-18-9cb71d885949>:3: FutureWarning: Series.__getitem__ treating keys as positions is deprecated. In a future version, integer keys will always be treated as labels (consistent with DataFrame behavior). To access a value by position, use `ser.iloc[pos]`
  df['Dietary Habits'] = df['Dietary Habits'].apply(lambda x: x.replace(x, str(values[0])) if values[x] < 10 else x)

In [ ]:
df.loc[df['Working Professional or Student'] == 'Student', 'Profession'] = df.loc[df['Working Professional or Student'] == 'Student', 'Profession'].fillna('Student')

In [ ]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 234500 entries, 0 to 234499
Data columns (total 17 columns):
 #   Column                                 Non-Null Count   Dtype
---  ------                                 --------------   -----
 0   Name                                   234500 non-null  object
 1   Gender                                 234500 non-null  object
 2   Age                                    234500 non-null  float64
 3   City                                   234500 non-null  object
 4   Working Professional or Student        234500 non-null  object
 5   Profession                             219851 non-null  object
 6   CGPA                                   46664 non-null   float64
 7   Sleep Duration                         234500 non-null  object
 8   Dietary Habits                         234500 non-null  object
 9   Degree                                 234496 non-null  object
 10  Have you ever had suicidal thoughts ?  234500 non-null  object
 11  Work/Study Hours                       234500 non-null  float64
 12  Financial Stress                       234496 non-null  float64
 13  Family History of Mental Illness       234500 non-null  object
 14  Depression                             140700 non-null  float64
 15  Pressure                               234500 non-null  float64
 16  Satisfaction                           234500 non-null  float64
dtypes: float64(7), object(10)
memory usage: 30.4+ MB

In [ ]:
from sklearn.impute import KNNImputer
imputer = KNNImputer(n_neighbors=5)
df[['CGPA']] = imputer.fit_transform(df[['CGPA']])

In [ ]:
for col in ['Profession', 'Degree', 'Financial Stress']:
    df[col] = df[col].fillna(df[col].mode()[0])

In [ ]:
df_value_counts = df['Profession'].value_counts()
df['Profession'] = df['Profession'].apply(lambda x: x.replace(x, 'Others') if df_value_counts[x] < 10 else x)

In [ ]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 234500 entries, 0 to 234499
Data columns (total 17 columns):
 #   Column                                 Non-Null Count   Dtype
---  ------                                 --------------   -----
 0   Name                                   234500 non-null  object
 1   Gender                                 234500 non-null  object
 2   Age                                    234500 non-null  float64
 3   City                                   234500 non-null  object
 4   Working Professional or Student        234500 non-null  object
 5   Profession                             234500 non-null  object
 6   CGPA                                   234500 non-null  float64
 7   Sleep Duration                         234500 non-null  object
 8   Dietary Habits                         234500 non-null  object
 9   Degree                                 234500 non-null  object
 10  Have you ever had suicidal thoughts ?  234500 non-null  object
 11  Work/Study Hours                       234500 non-null  float64
 12  Financial Stress                       234500 non-null  float64
 13  Family History of Mental Illness       234500 non-null  object
 14  Depression                             140700 non-null  float64
 15  Pressure                               234500 non-null  float64
 16  Satisfaction                           234500 non-null  float64
dtypes: float64(7), object(10)
memory usage: 30.4+ MB

In [ ]:
df = pd.get_dummies(df, dtype='int')

In [ ]:
train = df.iloc[:len(train)]
test = df.iloc[len(train):]

In [ ]:
train.to_csv('final_train.csv', index=False)
test.to_csv('final_test.csv', index=False)